<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">

    <link rel="stylesheet" href="../css/adicionarMusica.css">
    <title>Início</title>
</head>

<body>
    <header id="header">
        <a href="/" id="inicio">Início</a>
        <input type="search" id="search" placeholder="Digite o nome da Musica aqui">
    </header>
<main id="main">
    
        <form action="" method="post" id="form">    
            <div class="inputContainer">
                <label for="tituloInput" class="label">Titulo*</label>
                <input type="text" name="titulo" class="input" id="tituloInput" required placeholder="Insira o titulo da musica">
            </div>
    
            <div class="inputContainer">
                <label for="autorInput" class="label">Autor*</label>
                <input type="text" name="autor" class="input" id="autorInput" placeholder="Insira o nome do Autor/Cantor" required>
            </div>
    
            <div class="inputContainer">
                <label for="youtubeLink" class="label">Link do Youtube(opcional)</label>
                <input type="text" name="youtubeLink" class="input" id="youtubeLinkInput" placeholder="Insira o link do youtube">
            </div>
    
            <div class="inputContainer">
                <label for="" class="label">Letra da Musica*</label>
                <textarea name="conteudo" id="letraDaMusica" placeholder="Insira a letra aqui" required></textarea>
            </div>
    
            <input type="submit" value="Editar Musica" id="submit">
        </form>
</main>

<script>

const formVar = document.getElementById('form');


const pathParts = window.location.pathname.split('/');
const titulo = decodeURIComponent(pathParts[pathParts.length - 1]);
formVar.action = '/api/editarMusica/'+titulo;

if (titulo) {
   
    buscarMusica(titulo);
}
    function buscarMusica(titulo) {
    fetch(`/api/musica/${titulo}`)
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro ao buscar música');
            }
            return response.json();
        })
        .then(data => {
          
            exibirConteudoNosInputs(data);
            
        })
        .catch(error => {
            console.error('Erro:', error);
            // Lidar com o erro (por exemplo, exibir uma mensagem de erro no front-end)
        });

        function exibirConteudoNosInputs(data){
            const tituloInput = document.getElementById('tituloInput');
            const autorInput = document.getElementById('autorInput');
            const youtubeLinkInput = document.getElementById('youtubeLinkInput');
            const letraDaMusica = document.getElementById('letraDaMusica');

            tituloInput.value = data.titulo;
            autorInput.value = data.autor;
            youtubeLinkInput.value = data.youtubeLink;
            letraDaMusica.value = data.conteudo;
        }
}

</script>
<script>
const textarea = document.getElementById('letraDaMusica');

textarea.addEventListener('input', function() {
    // Reseta a altura para calcular o valor correto
        this.style.height = 'auto';
    // Define a altura com base no scrollHeight (altura total do conteúdo)
        this.style.height = this.scrollHeight + 'px';
});

const form = document.getElementById('form');

form.addEventListener('submit', function (event) {
            // Verifica se todos os campos obrigatórios estão preenchidos
            const titulo = document.getElementById('tituloInput').value.trim();
            const autor = document.getElementById('autorInput').value.trim();
            const letra = document.getElementById('letraDaMusica').value.trim();

            if (!titulo || !autor || !letra) {
                alert('Por favor, preencha todos os campos obrigatórios!');
                event.preventDefault(); // Impede o envio do formulário
            }
        });
</script>
<script src="../js/search.js"></script>

</body>

</html>